@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&family=Nunito:ital,wght@0,400;0,700;1,400&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html{
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    height: 100%;
}

div.names{
    width: 200px;
    background-color: burlywood;
    position: fixed;
    height: 100%;
    overflow: auto;
}

div.names a{
    display: block;
    padding: 1.25rem;
    text-decoration: none;
    color: black;
}

div.names a:hover{
    font-weight: bold;
}

div.info{
    background-color: bisque;
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
}

div.info .empty{
    display: none;
}

.active{
    background-color: #80694d;
    font-weight: bold;
}